* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    margin: 10vw;
}


#container {
    margin-left: 40%;
    display: flex;
    height: 100vh;
 
}

#work, #break {
    height: 200px;
    width: 100px;
}

#work {
    margin-right: 1em;
}

#workbattery, #breakbattery {

    height: 100%;
    width: 100%;
    background-color: white;
    border: 10px solid white;
    display: flex;
    align-items: flex-end;
}

#worktime {
    background-color:rgb(51, 248, 182);
    width: 100%;
    
   
}

#breaktime {
    background-color:rgb(255, 117, 102);
    width: 100%;
   
}

#worktext, #breaktext {
    color: white;
    text-align: center;
    padding: .25em 0;
}

button {
    background: White;
    color: grey;
    font-weight: bold;
    border: 0;
    font-size: 1em;
    padding: .5em;
    width: 100px;
    margin-bottom: 1em;
    clear: both;
    border-radius: 5px;
}

button:focus {
    outline: 0;
}